body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

.profile-pic {
  width:32px;
  height:32px;
  border-radius: 50%;
  margin-right: 10px;
}

.welcome {
  font-weight: 700;
  margin: auto;
}

.auth-btn{
  width: 50px;
}


.bueno-nav {
  padding: 10px;
  background-color: red;
}

.bueno-nav a{
  color: white;
}

.bueno-brand-text {
  font-size: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.game-btn {
  max-width: 120px;
  padding-top: 5px;
  margin-left: 20px;
}

.welcome-container {
  text-align: right !important;
  max-width: 100%;
  padding-top: 10px;
  color: white;
  margin: auto;

}

.login-container {
  text-align: right;
  max-width: 200px;
  padding-top: 5px;
  padding-right: 20px;
}



header i {
  vertical-align: middle;
  margin-left: 12px;
}




.add-item {
  border-radius: 2px;
  border-top: 3px solid #103D5D;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  padding: 60px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 34px;  
  width: 25%;
  margin-right: auto;
}

.display-item {
  width: 65%;
  margin-left: 50px;
}

.display-item button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

.add-item form {
  width: 100%;
  overflow: hidden;
}

input {
  font-size: 22px;
  color: #000;
  padding: 18px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 0;
  display: block;
  width: 100%;  
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  width: calc(50% - 50px);
  list-style-type: none;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  color: #000;
  margin-bottom: 30px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  background-color: #103D5D;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 15px;
}

form button {
  width: 100%;
  margin-top: 10px;
}

.navbar-nav {
  width: 100%;
  margin: auto;
}

.navBtn {
  border-radius: 2px;
  min-width: 88px;
  background-color: #FA6900;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
}


.user-profile {
  position: fixed;
  top: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}