.jumbotron {
  min-height: 300px;
  padding-top: 40px;
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
  background-color: transparent;
}
.bueno-logo {
  max-width: 400px;
  margin-bottom: 40px;
}
.join-btn {
  width: 40%;
}

h1 {
  font-size: 3em;
}

.intro-text {
  font-size: 1.5rem;
}
